<div class="main-panel">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h1 class="text-center">Granado | Phebo</h1>
                    <hr>
                </div>
                <div class="container">
                    <form action="/events/create" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Data Evento</label>
                                        <input type="date" name="dateEvent" class="form-control">
                                        <label for="">Hora Inicio</label>
                                        <input type="time" name="initHR" class="form-control">
                                        <label for="">Hora Fim</label>
                                        <input type="time" name="endHR" class="form-control">
                                    </div>
                                    <div class="col">
                                        <label for="">Evento</label>
                                        <input type="text" name="event" class="form-control">
                                        <label for="">Sub Evento</label>
                                        <input type="text" name="subEvent" class="form-control">
                                        <label for="">Equipamento</label>
                                        <input type="text" name="equipment" class="form-control">
                                    </div>
                                </div>
                                <label for="">Anotações</label>
                                <textarea name="notes" id="" class="form-control" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success col-12">
                                    Salvar
                                </button>
                            </div>
                            <div class="col">
                                <button type="reset" class="btn btn-success col-12">
                                    Voltar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">Lista de Eventos</h2>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="">Data Evento</label>
                            <input type="text" name="dateEvent" class="form-control" disabled>
                        </div>
                        <div class="col">
                            <label for="">Hora Inicio</label>
                            <input type="text" name="initHR" class="form-control" disabled>
                        </div>
                        <div class="col">
                            <label for="">Hora Fim</label>
                            <input type="text" name="endHR" class="form-control" disabled>
                        </div>
                        <div class="col">
                            <label for="">Evento</label>
                            <input type="text" name="event" class="form-control" disabled>
                        </div>
                        <div class="col">
                            <label for="">Sub Evento</label>
                            <input type="text" name="subEvent" class="form-control" disabled>
                        </div>
                        <div class="col">
                            <label for="">Equipamento</label>
                            <input type="text" name="equipment" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>