<div class="main-panel">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h1 class="text-center">Granado | Phebo</h1>
                    <hr>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label for="">Data Evento</label>
                                    <input type="date" class="form-control">
                                    <label for="">Hora Inicio</label>
                                    <input type="time" class="form-control">
                                    <label for="">Hora Fim</label>
                                    <input type="time" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="">Evento</label>
                                    <input type="text" class="form-control">
                                    <label for="">Sub Evento</label>
                                    <input type="text" class="form-control">
                                    <label for="">Equipamento</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <label for="">Anotações</label>
                            <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success col-12">
                                Salvar
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success col-12">
                                Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>