<div class="main-panel">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h1 class="text-center">Granado | Phebo</h1>
                    <hr>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="">Item</label>
                            <input type="text" name="" id="" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Descrição</label>
                            <input type="text" name="" id="" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Lote</label>
                            <input type="text" name="" id="" class="form-control" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Módulo</label>
                            <input type="text" name="" id="" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Linha</label>
                            <input type="text" name="" id="" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Prod. Nominal /H</label>
                            <input type="text" name="" id="" class="form-control" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Data</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                        <div class="col">
                            <label for="">Hr inicio Prod</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                        <div class="col">
                            <label for="">Hr fim Prod</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Qtd Prevista</label>
                            <input type="text" name="" id="" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Quantidade Real</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                        <div class="col">
                            <div class="row mt-4">
                                <div class="col mt-1">
                                    <button class="btn btn-success col-12">Incluir Evento</button>
                                </div>
                                <div class="col mt-1">
                                    <button class="btn btn-success col-12">Excluir Evento</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label for="">Data Evento</label>
                            </div>
                            <div class="col">
                                <label for="">Hora Inicio</label>
                            </div>
                            <div class="col">
                                <label for="">Hora Fim</label>
                            </div>
                            <div class="col">
                                <label for="">Evento</label>
                            </div>
                            <div class="col">
                                <label for="">Sub Evento</label>
                            </div>
                            <div class="col">
                                <label for="">Equipamento</label>
                            </div>
                            <div class="col">
                                <label for="">Anotações</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" disabled readonly>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>