<div class="main-panel">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h1 class="text-center">Granado | Phebo</h1>
                    <hr>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form class="d-flex">
                                <div class="row col-12">
                                    <div class="col">
                                        <input class="form-control me-2" type="search" placeholder="Pesquisa"
                                            aria-label="Search" style="height: 60px;">
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-outline-success" type="submit">
                                            <i class="nc-icon nc-zoom-split"></i>
                                            <span class="d-lg-block">&nbsp;Pesquisar</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label for=""></label>
                            <input type="checkbox" class="form-control">
                        </div>
                        <div class="col">
                            <label for="">Item</label>
                            <input type="text" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Descrição</label>
                            <input type="text" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Lote</label>
                            <input type="text" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">Qtd</label>
                            <input type="text" class="form-control" disabled readonly>
                        </div>
                        <div class="col">
                            <label for="">UM</label>
                            <input type="text" class="form-control" disabled readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>