<div class="container" style="height: 800px; margin-top: 100px; ">
    <div class="card" style="background-image: url(/images/bg_modal.png); min-height: 500px;">
        <div class="card-body" style=" background-color: rgba(0, 0, 0, 0.568);">
            <h1 class="text-light text-center" style="font-weight: 900; margin-top: 100px;">
                <img src="/images/logo.png" alt="">
            </h1>
            <hr class="text-light" style="width: 50%; margin-left: 25%;">
    
            <div class="row">
                <div class="col"></div>
                <div class="col-xl-4 col-sm-12">
                     {{>_msg}}
                    <form action="/account" method="post">
                        <div class="container">
                            <input type="text" name="username" class="form-control mt-1 mb-1" placeholder="username">
                            <input type="password" name="password" class="form-control mt-1 mb-1" placeholder="senha">
                            <button class="btn btn-success col-12">Acessar</button>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>