<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Granado | Phebo
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
             <li>
                <a class="nav-link" href="/lots">
                    <i class="nc-icon nc-notes"></i>
                    <p>Lotes</p>
                </a>
            </li>
             <li>
                <a class="nav-link" href="/events/create">
                    <i class="nc-icon nc-notes"></i>
                    <p>Eventos</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-notes"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-atom"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="#">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Granado | Phebo</p>
                </a>
            </li>
        </ul>
    </div>
</div>